<app-header></app-header>
<div class="voffset3">


  <form class="form-vertical" (ngSubmit)="onSubmit()" #timesheetForm="ngForm">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Veuillez encoder vos prestations</h2>
        <hr>
      </div>
    </div>
    <div  class = "row alert alert-danger" *ngIf="displayValidationMessage">
      {{displayValidationMessage}}
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
            <label for="dateJour" class="col-sm-3 col-form-label">Date du jour</label>
            <input class="col-sm-3" placeholder="dd/mm/yyyy"
                   name="dp" [(ngModel)]="currentTimesheet.dateDt"
                   id="dateJour" ngbDatepicker #ddb="ngbDatepicker"
                   required>
          <button  (click)="ddb.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureDebutId" class="col-sm-3 col-form-label">Début journée</label>
        <input class="col-sm-3" style="border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureDebutStr"
               name="heureDebut"
               id="heureDebutId" type="time"
               required/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureFinId" class="col-sm-3 col-form-label">Fin journée</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureFinStr"
               name="heureFin"
               id="heureFinId" type="time"
               required/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heurePauseDebutId" class="col-sm-3 col-form-label">Début pause</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureDebutPauseStr"
               name="heureDebutPause"
               id="heurePauseDebutId" type="time"
               required/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureFinPauseId" class="col-sm-3 col-form-label">Fin pause</label>
        <input class="col-sm-3"
               style=" border: 1px solid #868e96"
               name="heurFinPause"
               [(ngModel)]="currentTimesheet.heureFinPauseStr"
               id="heureFinPauseId"
               type="time" required/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <label for="clientId" class="col-sm-3 col-form-label">Client</label>
        <input id="clientId"  name="client" [(ngModel)]="currentTimesheet.nomClient"  [ngbTypeahead]="searchClient" required >
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>

        <div class="col-md-6">
          <label for="chantierId"  class="col-sm-3 col-form-label">Chantier</label>

          <input id="chantierId" type="text" #inputChantier (keyup)="onChangeChantier(inputChantier.value)"  matInput name="chantier" value="chant.nom" [(ngModel)]="chantier" [matAutocomplete]="autoChantier">
          <button  (click)="onAddChantier()"  type="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>


        <mat-autocomplete #autoChantier="matAutocomplete" [displayWith]="displayFn" >
          <mat-option *ngFor="let chant of filteredChantier"   [value] = "chant">
            {{chant.nom}}
          </mat-option>
        </mat-autocomplete>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <mat-chip-list >
          <mat-chip style="margin: 5px" *ngFor="let unChantier of chantierChoisis"> {{unChantier.nom}} </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <label for="observations" class="col-sm-3 col-form-label">Observations</label>
        <textarea id="observations"  name="observations" [(ngModel)]="currentTimesheet.observations" class="form-control"></textarea>
      </div>
    </div>
    <div class="row row voffset3">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button style="margin-left: 15px" type="submit" class="btn btn-success">Ajouter</button>
      </div>
    </div>
  </form>


  <div class="row voffset3">
    <table class="table  table-hover">
      <thead>
      <tr>
        <th scope="col">Client</th>
        <th scope="col">Chantier</th>
        <th scope="col">Date du jour</th>
        <th scope="col">Début de journée</th>
        <th scope="col">Fin de journée</th>
        <th scope="col">Début de pause</th>
        <th scope="col">Fin de pause</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let timesheet of recordedTimesheets" class="table-primary">
        <th scope="row">{{timesheet.nomClient}}</th>
        <td>{{timesheet.nomChantier}}</td>
        <td>{{formatDateForDisplay(timesheet.dateDt) }}</td>
        <td>{{timesheet.heureDebutStr}}</td>
        <td>{{timesheet.heureFinStr}}</td>
        <td>{{timesheet.heureDebutPauseStr}}</td>
        <td>{{timesheet.heureFinPauseStr}}</td>
        <td><button class="btn btn-default" (click)="onModif(timesheet.id)">Modification</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row voffset3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <button style="margin-left: 15px" (click)="onValidate()" class="btn btn-success">Valider</button>
    </div>
  </div>
  <div class="voffset3">
  </div>
  <div  [ngClass]="{'alert alert-success': !error && submitted, 'alert alert-danger': error && submitted}">
    {{displayMessage}}
  </div>
</div>
