<app-header></app-header>
<div class="voffset3">


  <form class="form-vertical" (ngSubmit)="onSubmit()" #timesheetForm="ngForm">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Veuillez encoder vos prestations</h2>
        <hr>
      </div>
    </div>
    <div  class = "row alert alert-danger" *ngIf="displayValidationMessage">
      {{displayValidationMessage}}
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
            <label for="dateJour" class="col-sm-3 col-form-label">Date du jour</label>
            <input class="col-sm-3" placeholder="dd/mm/yyyy"
                   name="dp" [(ngModel)]="currentTimesheet.dateDt"
                   id="dateJour" ngbDatepicker #ddb="ngbDatepicker"
                   required>
          <button  (click)="ddb.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureDebutId" class="col-sm-3 col-form-label">Début journée</label>
        <input class="col-sm-3" style="border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureDebutStr"
               name="heureDebut"
               id="heureDebutId" type="time"
               required/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureFinId" class="col-sm-3 col-form-label">Fin journée</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureFinStr"
               name="heureFin"
               id="heureFinId" type="time"
               required/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heurePauseDebutId" class="col-sm-3 col-form-label">Début pause</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureDebutPauseStr"
               name="heureDebutPause"
               id="heurePauseDebutId" type="time"
               />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureFinPauseId" class="col-sm-3 col-form-label">Fin pause</label>
        <input class="col-sm-3"
               style=" border: 1px solid #868e96"
               name="heurFinPause"
               [(ngModel)]="currentTimesheet.heureFinPauseStr"
               id="heureFinPauseId"
               type="time" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <label for="clientId" class="col-sm-3 col-form-label">Client</label>
        <input id="clientId"  name="client" [(ngModel)]="currentTimesheet.nomClient"  [ngbTypeahead]="searchClient" required >
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>

        <div class="col-md-6">
          <label for="chantierId"  class="col-sm-3 col-form-label">Chantier</label>

          <input id="chantierId" type="text" #inputChantier (keyup)="onChangeChantier(inputChantier.value)"  matInput name="chantier" value="chant.nom" [(ngModel)]="chantier" [matAutocomplete]="autoChantier">
          <button  (click)="onAddChantier()"  type="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>

        <mat-autocomplete #autoChantier="matAutocomplete" [displayWith]="displayFn" >
          <mat-option *ngFor="let chant of filteredChantier"   [value] = "chant">
            {{chant.nom}}
          </mat-option>
        </mat-autocomplete>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <mat-chip-list >
          <mat-chip style="margin: 5px" [removable]="true" *ngFor="let unChantier of currentTimesheet.chantiers" (remove)="remove(unChantier)">
            {{unChantier.nom}}
            <mat-icon matChipRemove><i class="fa fa-minus-square" aria-hidden="true"></i></mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"> <label style="margin-left: 15px">Ouvriers accompagnants</label>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3"></div>
      <div class="col-md-6">


          <label style="margin: 5px" *ngFor="let ouvrier of allOuvriers" class="btn-primary" ngbButtonLabel>

            <input  type="checkbox" [ngModelOptions]="{standalone: true}"  [(ngModel)]="ouvrier.selected"> {{ouvrier.firstname + " " + ouvrier.lastname}}

          </label>

      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <label for="observations" class="col-sm-3 col-form-label">Observations</label>
        <textarea id="observations"  name="observations" [(ngModel)]="currentTimesheet.observations" class="form-control"></textarea>
      </div>
    </div>
    <div class="row row voffset3">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button style="margin-left: 15px" type="submit" class="btn btn-success">Sauvegarder</button>
      </div>
    </div>
    <div class="voffset3"></div>
  </form>
</div>
