<div class="voffset3">


  <form class="form-vertical"  *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #timesheetForm="ngForm">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Veuillez encoder vos prestations</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
            <label for="dateJour" class="col-sm-3 col-form-label">Date du jour</label>
            <input class="col-sm-3" placeholder="dd/mm/yyyy"
                   name="dp" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentTimesheet.dateDt" id="dateJour" ngbDatepicker #ddb="ngbDatepicker">
          <button  (click)="ddb.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureDebutId" class="col-sm-3 col-form-label">Début journée</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentTimesheet.heureDebutStr" id="heureDebutId" type="time"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureFinId" class="col-sm-3 col-form-label">Fin journée</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentTimesheet.heureFinStr" id="heureFinId" type="time"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heurePauseDebutId" class="col-sm-3 col-form-label">Début pause</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentTimesheet.heureDebutPauseStr" id="heurePauseDebutId" type="time"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <label for="heureFinPauseId" class="col-sm-3 col-form-label">Fin pause</label>
        <input class="col-sm-3" style=" border: 1px solid #868e96" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentTimesheet.heureFinPauseStr" id="heureFinPauseId" type="time"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <label for="clientId" class="col-sm-3 col-form-label">Client</label>
        <input id="clientId" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentTimesheet.nomClient"  [ngbTypeahead]="searchClient" required >
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <label for="chantierId" class="col-sm-3 col-form-label">Chantier</label>
        <input id="chantierId" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentTimesheet.nomChantier" [ngbTypeahead]="searchChantier" required >
      </div>
    </div>
    <div class="row row voffset3">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button style="margin-left: 15px" (click)="onAdd()" class="btn btn-success">Ajouter</button>
      </div>
    </div>
    <div class="row voffset3">
      <table class="table  table-hover">
        <thead>
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Chantier</th>
            <th scope="col">Date du jour</th>
            <th scope="col">Début de journée</th>
            <th scope="col">Fin de journée</th>
            <th scope="col">Début de pause</th>
            <th scope="col">Fin de pause</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timesheet of recordedTimesheets" class="table-primary">
            <th scope="row">{{timesheet.nomClient}}</th>
            <td>{{timesheet.nomChantier}}</td>
            <td>{{formatDate(timesheet.dateDt) }}</td>
            <td>{{timesheet.heureDebutStr}}</td>
            <td>{{timesheet.heureFinStr}}</td>
            <td>{{timesheet.heureDebutPauseStr}}</td>
            <td>{{timesheet.heureFinPauseStr}}</td>
            <td><button class="btn btn-default" (click)="onModif(timesheet.nomClient)">Modification</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </form>
</div>
