<div class="modal-header">
  <h4 class="modal-title">Voulez-vous supprimer l'encodage?</h4>

</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-1">
    <button type="button" class="btn-danger" (click)="onDelete()">
      <span aria-hidden="true">Oui</span>
    </button>
  </div>
  <div class="col-1">
    <button type="button" class="btn-primary" aria-label="Close" (click)="onDismiss()">
      <span aria-hidden="true">Non</span>
    </button>
  </div>
</div>

<div class="voffset3"></div>
