<app-header></app-header>
<div class="row voffset3">
  <div class="col-md-5"></div>
  <div class="col-md-6">
    <h2>Bienvenue</h2>
  </div>
</div>
<div *ngIf="hasSignedIn()">

  <div class="row voffset3">
    <div class="col-md-5"></div>
    <div class="col-md-6">
      <button type="button" class="btn btn-outline-primary" style="width: 150px" routerLink="/timesheet">
        Encodage
      </button>
    </div>
  </div>
  <div *ngIf="isAdmin()">
    <div class="row voffset3">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" style="width: 150px" routerLink="/detail">
          Détail
        </button>
      </div>
    </div>
    <div class="row voffset3">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" style="width: 150px" routerLink="/historique">
          Historique
        </button>
      </div>
    </div>
    <div class="row voffset3">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" style="width: 150px" routerLink="/users">
          Utilisateur
        </button>
      </div>
    </div>
    <div class="row voffset3">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" style="width: 150px" routerLink="/chantiers">
          Chantiers
        </button>
      </div>
    </div>
    <div class="row voffset3">
      <div class="col-md-5"></div>
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-primary" style="width: 150px" routerLink="/clients">
          Clients
        </button>
      </div>
    </div>

  </div>

</div>
