<div class="modal-header">
  <h4 class="modal-title">Encodage</h4>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div  class = "row alert alert-danger" *ngIf="displayValidationMessage">
    {{displayValidationMessage}}
  </div>
  <form>
    <div class="form-group">
        <label for="dateJour">Date du jour</label>
        <input class="col-md-3" placeholder="dd/mm/yyyy"
               name="dp" [(ngModel)]="currentTimesheet.dateDt"
               id="dateJour" ngbDatepicker #ddb="ngbDatepicker"
               required>
        <button  (click)="ddb.toggle()" type="button">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
    </div>
    <div class="form-group">
        <label for="heureDebutId">Début journée</label>
        <input class="form-control" style="border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureDebutStr"
               name="heureDebut"
               id="heureDebutId" type="time"
               required/>
    </div>
    <div class="form-group">
        <label for="heureFinId">Fin journée</label>
        <input class="form-control" style=" border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureFinStr"
               name="heureFin"
               id="heureFinId" type="time"
               required/>
    </div>
    <div class="form-group">
        <label for="heurePauseDebutId">Début pause</label>
        <input class="form-control" style=" border: 1px solid #868e96"
               [(ngModel)]="currentTimesheet.heureDebutPauseStr"
               name="heureDebutPause"
               id="heurePauseDebutId" type="time"
               required/>
    </div>
    <div class="form-group">
        <label for="heureFinPauseId">Fin pause</label>
        <input class="form-control"
               style=" border: 1px solid #868e96"
               name="heurFinPause"
               [(ngModel)]="currentTimesheet.heureFinPauseStr"
               id="heureFinPauseId"
               type="time" required/>
    </div>
    <div class="form-group">
        <label for="clientId">Client</label>
        <input id="clientId"  name="client" [(ngModel)]="currentTimesheet.nomClient"  [ngbTypeahead]="searchClient" required >
    </div>
    <div class="form-group">
        <label for="chantierId">Chantier</label>
        <input id="chantierId"  name="chantier" [(ngModel)]="chantier" [ngbTypeahead]="searchChantier" required >
        <button  (click)="onAddChantier()"  type="button">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
    <div class="form-group">
      <mat-chip-list >
        <mat-chip style="margin: 5px" [removable]="true" *ngFor="let unChantier of chantierChoisis" (remove)="remove(unChantier)">
          {{unChantier.nom}}
          <mat-icon matChipRemove><i class="fa fa-minus-square" aria-hidden="true"></i></mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="form-group">
        <label for="observations" class="col-sm-3 col-form-label">Observations</label>
        <textarea id="observations"  name="observations" [(ngModel)]="currentTimesheet.observations" class="form-control"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="onClose()" class="btn btn-outline-dark">Sauver</button>
</div>
