<app-header></app-header>
<div class="row voffset3">
  <div class="col-md-3">
    <button class="btn btn-warning" (click)="onNewClient()">Nouveau</button>
  </div>
  <div class="col-md-6">

  </div>
</div>

<table class="table  table-hover">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Rue</th>
    <th scope="col">Code postal</th>
    <th scope="col">Ville</th>
    <th scope="col">Pays</th>
    <th scope="col">Numéro TVA</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of allClients" (click)="onClientClick(client)" class="table-primary">
    <th scope="row">{{client.nom}}</th>
    <th scope="row">{{client.rue}}</th>
    <th scope="row">{{client.codePostal}}</th>
    <th scope="row">{{client.ville}}</th>
    <th scope="row">{{client.pays}}</th>
    <th scope="row">{{client.numTva}}</th>
  </tr>
  </tbody>
</table>
