<div class="modal-header">
  <h4 class="modal-title">Encodage</h4>
  <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div  class = "row alert alert-danger" *ngIf="displayValidationMessage">
    {{displayValidationMessage}}
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <label for="dateJour" class="col-sm-3 col-form-label">Date du jour</label>
      <input class="col-sm-3" placeholder="dd/mm/yyyy"
             name="dp" [(ngModel)]="currentTimesheet.dateDt"
             id="dateJour" ngbDatepicker #ddb="ngbDatepicker"
             required>
      <button  (click)="ddb.toggle()" type="button">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <label for="heureDebutId" class="col-sm-3 col-form-label">Début journée</label>
      <input class="col-sm-3" style="border: 1px solid #868e96"
             [(ngModel)]="currentTimesheet.heureDebutStr"
             name="heureDebut"
             id="heureDebutId" type="time"
             required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <label for="heureFinId" class="col-sm-3 col-form-label">Fin journée</label>
      <input class="col-sm-3" style=" border: 1px solid #868e96"
             [(ngModel)]="currentTimesheet.heureFinStr"
             name="heureFin"
             id="heureFinId" type="time"
             required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <label for="heurePauseDebutId" class="col-sm-3 col-form-label">Début pause</label>
      <input class="col-sm-3" style=" border: 1px solid #868e96"
             [(ngModel)]="currentTimesheet.heureDebutPauseStr"
             name="heureDebutPause"
             id="heurePauseDebutId" type="time"
             required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <label for="heureFinPauseId" class="col-sm-3 col-form-label">Fin pause</label>
      <input class="col-sm-3"
             style=" border: 1px solid #868e96"
             name="heurFinPause"
             [(ngModel)]="currentTimesheet.heureFinPauseStr"
             id="heureFinPauseId"
             type="time" required/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <label for="clientId" class="col-sm-3 col-form-label">Client</label>
      <input id="clientId"  name="client" [(ngModel)]="currentTimesheet.nomClient"  [ngbTypeahead]="searchClient" required >
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <label for="chantierId" class="col-sm-3 col-form-label">Chantier</label>
      <input id="chantierId"  name="chantier" [(ngModel)]="currentTimesheet.nomChantier" [ngbTypeahead]="searchChantier" required >
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <label for="observations" class="col-sm-3 col-form-label">Observations</label>
      <textarea id="observations"  name="observations" [(ngModel)]="currentTimesheet.observations" class="form-control"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="onClose()" class="btn btn-outline-dark">Sauver</button>
</div>
